*{
    font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
.form-style{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 2rem;
  }
  button{
    background-color: blue;
    width: 13rem;
    border-radius: 20px;
    height: 2.2rem;
    color: white;
    border: 0;
  }
  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  .error-form{
    background-color: rgba(252, 3, 3, 0.1) !important;
    border: rgb(252 ,3 ,3);
    color: rgb(252, 3, 3);
    border-radius: 4px;
    font-size: 14px;
    height: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
}
