.example-form {
 
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.ever {
  .up {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    .left {
      width: 45rem;
      .list {
        list-style: none;
        display: flex;
        gap: 2rem;
        opacity: 0.6;
        width: 54rem;
      }
    }
    .icons {
      display: none;
    }
    .right {
      .list2 {
        display: flex;
        gap: 2rem;
        list-style: none;
        opacity: 0.6;
      }
    }
  }
  .down {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    .form {
      display: flex;
      width: 45rem;
      form {
        height: 3.5rem;
        width: 41rem;
      }
      button {
        border: 0;
        background-color: #00838c;
        color: white;
        width: 8rem;
      }
    }
    .icon {
      width: 15rem;
      display: flex;
      justify-content: space-around;
      opacity: 0.6;
    }
  }
}
@media screen and (max-width: 992px) {
  .left {
    display: none;
  }
  .icons {
    display: flex !important;
    align-items: center;
    height: 3rem;
    width: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 100% !important;
  }
  .down {
    flex-wrap: wrap;
  }
}
