.ever{
    background-color: black;
    display: flex;
    justify-content: space-around;
    gap: 6.5rem;
    padding-top: 2rem;
    .list{
        h2{
            font-size: 20px;
            margin: 0;
            font-weight: 600;
            color: white;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            line-height: 2.2rem;
            li{
                color: white;
                font-size: 12px;
                opacity: 0.8;
            }
        } 
    }
    .list2{
        h2{
            font-size: 20px;
            margin: 0;
            font-weight: 600;
            color: white;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            line-height: 2.2rem;
            li{
                color: white;
                font-size: 12px;
                opacity: 0.8;
            }
        } 
    }
    .list3{
        h2{
            font-size: 20px;
            margin: 0;
            font-weight: 600;
            color: white;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            line-height: 2.2rem;
            li{
                color: white;
                font-size: 12px;
                opacity: 0.8;
            }
        } 
    }
    .list4{
        h2{
            font-size: 20px;
            margin: 0;
            font-weight: 600;
            color: white;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            line-height: 2.2rem;
            li{
                color: white;
                font-size: 12px;
                opacity: 0.8;
            }
        } 
    }
}
@media screen and (max-width:768px) {
    .ever{
        flex-wrap: wrap;
    }
}