<div class="ever">

    <div class="list">
        <h2> About GoDaddy </h2>
        <ul>
            <li> About Us </li>
            <li> Newsroom </li>
            <li> Investor Relation </li>
            <li> Careers </li>
            <li> Corporate Responsivility </li>
            <li> Trust Center </li>
            <li> Legal </li>
        </ul>
    </div>
    <div class="list2">
        <h2> Help Center </h2>
        <ul>
            <li> Help Center </li>
            <li> Community </li>
            <li> Venture Forward: Microbusiness Data </li>
            <li> GoDaddy Blog </li>
            <li> Contact Us </li>
            <li> Report Abuse </li>
            <li> Resources </li>
        </ul>
    </div>
    <div class="list3">
        <h2> Account </h2>
        <ul>
            <li> My Products </li>
            <li> Renewals $ Billing </li>
            <li> Create Account </li>
        </ul>
    </div>
    <div class="list4">
        <h2> Shopping </h2>
        <ul>
            <li> Buy a Domain </li>
            <li> Websites </li>
            <li> WordPress </li>
            <li> Hosting </li>
            <li> Web Security </li>
            <li> Email $ Office </li>
            <li> Phone Numbers </li>
            <li> Promos </li>
        </ul>
    </div>

</div>