@use "../public/Scss/fonts";

body {
  margin: 0;
  font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
html,
body {
  background-color: white;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
